* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  height: 100%;
  background-color: white;
}

#nav {
  width: 100%;
  height: 70px;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-prt1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-prt1 h3 {
  font-size: 15px;
  border: 1.5px solid black;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 500;
}

#nav-prt1 i {
  font-size: 15px;
  border: 1.5px solid black;
  border-radius: 50px;
  padding: 4px 4px;
  font-weight: 500;
}

#nav-prt2 h1 {
  font-weight: 500;
  font-size: 20px;
}
#nav-prt3 button {
  border-radius: 50px;
  padding: 5px 10px;
  border: 1.5px solid black;
  font-size: 15px;
  font-weight: 500;
}
#btn2 {
  background-color: orangered;
  border: none;
  color: white;
}
#main > h1 {
  text-transform: uppercase;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-weight: 500;
}
img {
  height: 350px;
  width: 320px;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    
}
#btm-right{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 6%;
  right: 3%;
}

#btm-right i{
  font-size: 15px;
}
#text{
  
  font-size: 9px;
  position: absolute;
  bottom: 4%;
  right: 3%;
}


