@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}


:root {
    --clr-white: #efefef;
}

nav {
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: rgb(39, 38, 38);
}

nav h1 {
    font-size: 1.8rem;
}

ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: 600;
}

main {
    background-image: url(./simple-website-bg-img.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 63px);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    flex-direction: column;
    gap: 15px;
}

main h1 {
    font-size: 2.3rem;
    width: 50%;
    text-align: center;
    line-height: 1.4;
}

button {
    padding: 10px 25px;
    font-weight: 600;
    font-size: 1.1rem;
    border: 2px solid var(--clr-white);
}

button.hover {
    margin-right: 6px;
    background-color: transparent;
    color: var(--clr-white);
}

.hover:hover {
    background-color: var(--clr-white);
    color: black;
}

a.hover {
    padding: 10px;
}

@media (max-width: 575px) {
    html{
        font-size: 13px;
    }
    main h1{
        width: auto;
    }

    nav ul{
        display: none;
    }
}